.slider-container {
  width: 80%;
  margin: auto;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.home-slider .custom-arrow {
  position: absolute;
  top: -62px;
  transform: translateY(-50%);
  background: var(--primary-1);
  color: var(--white-1);
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  border: 1px solid var(--primary-1);
  transition: all 0.3s linear;
}
.home-slider .custom-arrow:hover {
  background-color: var(--white-1);
  color: var(--primary-1);
}
.home-slider .slick-list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.home-slider .next-arrow {
  right: 20px;
}
.home-slider .prev-arrow {
  right: 82px;
}
.home-slider .slider-head img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 992px) {
  .home-slider .custom-arrow {
    top: -80px;
    padding: 8px;
  }
  .home-slider .prev-arrow {
    right: 72px;
  }
}
@media only screen and (max-width: 767px) {
  .home-slider .custom-arrow {
    top: -100px;
  }
}
@media only screen and (max-width: 420px) {
  .home-slider .custom-arrow {
    padding: 5px;
  }
  .home-slider .prev-arrow {
    right: 40px;
  }
  .home-slider .next-arrow {
    right: 0;
  }
}
